.container-fluid{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  
}
.login{
    padding-top: 10rem;     
    position: absolute;
    left: 25%;
    right: 25%;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    
    background-image: url('../img/loginBg.jpg');
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(60%);

  }

  .form-control-plaintext{
      width: 100%;
  }

  .hAlert{
      display: none;
  }