@import url('../css/global.css');
/*  Available Fonts.
*   - Handwriting
*       font-family: 'Shadows Into Light', cursive; 
*       font-family: 'Amatic SC', cursive;
*
*/


h1{
    font-family: 'Amatic SC', cursive;
    font-size: 10rem;
}

.r {
    padding-top: 1rem;

}

html{
    overflow: hidden;
}

.container{
    margin-top: 0.3rem;
}

.pri{
    text-align: right;
}

/* Number Buttons */
.numpad td{
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.num{
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.back{
    padding-top: .7rem;
    padding-bottom: .7rem;
}
.dbRow{
    height: 11rem;
    vertical-align: middle;
}

.dbNum{
    padding-top: .7rem;
    padding-bottom: .7rem;
    width: 100%;
}

/* Scroll Bar for Receipt Preview */
.scroll{
    min-height: 20rem;
    max-height: 20rem;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(95, 95, 95);
}

.btn-warning{
    color: white;
}